body {
    padding-top: 80px;
}

.navbar-brand{
    line-height: 80px;
    height: 80px;
}

.navbar-nav li a {
}

.navbar-logo {
    padding-top: 0;
    font-size: 50px;
}

.navbar-brand svg {
    height: 100%;
    width: auto;
    fill: #9d9d9d;
}

.navbar-brand svg:hover {
    fill: white;
}

.carousel .jumbotron {
    min-height: 65vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
    max-height: none;
    padding: 80px 0 200px;
    color: white;
    text-shadow: 2px 2px #000000;
}

.jumbotron-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}