body {
    margin-top: 80px;
}

.img-with-overlay {
    position: relative;
}

.img-overlay {
    position: absolute;
    width: 100%;
    top: 0;
}

.text-white {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}

#q-and-a .panel-heading {
    cursor: pointer;
}

/*.affix {*/
/*    top: 80px;*/
/*}*/