<header class="site-header">
<div id="navbar-mitapp">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cellist-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <!--<img alt="cellist.co" src="{{ " /img/clef-154541.svg " | prepend: site.baseurl }}">-->
        </a>
        <a class="navbar-brand navbar-logo" href="#"><span class="glyphicon glyphicon-education"></span>&nbsp;Christopher ELLIS THOMAS, CFA</a>
      </div>
      <div class="collapse navbar-collapse" id="cellist-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Investment Analytics & Tools</a></li>
              <!--<li><a href="#">Risk Management & Risk Analysis</a></li>-->
              <!--<li><a href="#">Strategic & Tactical Allocation</a></li>-->
              <!--<li><a href="#">Quantitative Screening & Investment Selection</a></li>-->
              <!--<li><a href="#">Portfolio Management & Optimisation</a></li>-->
              <!--<li role="separator" class="divider"></li>-->
              <li><a href="#">Software Development</a></li>
              <!--<li><a href="#">Automation</a></li>-->
              <!--<li><a href="#">Rapid Prototyping & Rapid Development</a></li>-->
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Industry Expertise <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Asset Management</a></li>
              <li><a href="#">Wealth Management</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>

</header>
