<header class="site-header">

  <div class="wrapper">

    <!--<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <svg><path xmlns="http://www.w3.org/2000/svg" d="M66.1,53c-1.2,0-2.1,1-2.1,2.1c0,7-5.1,12.8-11.8,13.8V41c5.9-1,10.4-6.2,10.4-12.3c0-6.9-5.6-12.5-12.5-12.5  c-1.2,0-2.1,1-2.1,2.1V37c-9.1,1.1-16.1,8.8-16.1,18.1s7.1,17.1,16.1,18.1v8.5c0,1.2,1,2.1,2.1,2.1c1.2,0,2.1-1,2.1-2.1v-8.5  c9.1-1.1,16.1-8.8,16.1-18.1C68.2,54,67.3,53,66.1,53z M52.1,20.7c3.5,0.9,6.1,4.2,6.1,8s-2.6,7-6.1,8V20.7z M47.9,69  c-6.7-1-11.8-6.8-11.8-13.8s5.1-12.8,11.8-13.8V69z"/></svg>
            <span>cellist.co</span>
            <!--<img alt="Brand" src="...">-->
          </a>
        </div>
      </div>
    </nav>

    <!--<nav class="site-nav">-->

    <!--  <div class="trigger">-->
    <!--    {% for page in site.pages %}-->
    <!--      {% if page.title %}-->
    <!--      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>-->
    <!--      {% endif %}-->
    <!--    {% endfor %}-->
    <!--  </div>-->
    <!--</nav>-->

  </div>

</header>
